<%- include('includes/main/head.ejs')%>
<link rel='stylesheet' href='/css/product.css' />
<link rel='stylesheet' href='/css/form.css' />
</head>
    <body>
        <%- include('includes/main/navigation.ejs')%>
        <h1>ERROR 404 - PAGE NOT FOUND</h1>
        <%- include('includes/main/end.ejs')%>