<%- include("../includes/main/head.ejs") %> 
</head>

<body>
    <%- include("../includes/main/navigation.ejs") %> 
    <main>
        <p>Ola</p>
    </main>
    <%- include("../includes/main/end.ejs") %>
